body{
  background: #101010;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: #101010;
  color: #333;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.bar {
  width: 200px;
  height: 8px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(#E9E2D7), to(#111));
  background-image: linear-gradient(#000, #E9E2D7, #111);
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5), inset 0px 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.cradles {
  display: -webkit-box;
  display: flex;
}

.cradle {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
.cradle .line {
  width: 1px;
  height: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E1B894), color-stop(#E9E2D7), to(#E1B894));
  background-image: linear-gradient(#E1B894, #E9E2D7, #E1B894);
}
.cradle .ball {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.cradle.cradle-1 {
  -webkit-animation: candle-1 1.25s ease-in infinite;
          animation: candle-1 1.25s ease-in infinite;
}
.cradle.cradle-1 .ball {
  box-shadow: inset 0px -6px 8px 1px #998AD3;
  background-color: rgba(55, 64, 238, 0.1);
}
.cradle.cradle-2 {
  -webkit-animation: candle-2 1.25s ease infinite;
          animation: candle-2 1.25s ease infinite;
}
.cradle.cradle-2 .ball {
  box-shadow: inset 0px -6px 8px 1px #E494D3;
  background-color: rgba(135, 252, 241, 0.1);
}
.cradle.cradle-3 {
  -webkit-animation: candle-3 1.25s ease infinite;
          animation: candle-3 1.25s ease infinite;
}
.cradle.cradle-3 .ball {
  box-shadow: inset 0px -6px 8px 1px #CDF1AF;
  background-color: rgba(228, 241, 243, 0.1);
}
.cradle.cradle-4 {
  -webkit-animation: candle-4 1.25s ease infinite;
          animation: candle-4 1.25s ease infinite;
}
.cradle.cradle-4 .ball {
  box-shadow: inset 0px -6px 8px 1px #87DCC0;
  background-color: rgba(252, 118, 129, 0.1);
}
.cradle.cradle-5 {
  -webkit-animation: candle-5 1.25s ease-in infinite;
          animation: candle-5 1.25s ease-in infinite;
}
.cradle.cradle-5 .ball {
  box-shadow: inset 0px -6px 8px 1px #88BBE4;
  background-color: rgba(244, 252, 118, 0.1);
}

@-webkit-keyframes candle-1 {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  75% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}

@keyframes candle-1 {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-1deg);
            transform: rotate(-1deg);
  }
  75% {
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
  }
}
@-webkit-keyframes candle-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  70% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes candle-2 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  70% {
    -webkit-transform: rotate(7deg);
            transform: rotate(7deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes candle-3 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes candle-3 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-3deg);
            transform: rotate(-3deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes candle-4 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes candle-4 {
  0%, 50% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  20% {
    -webkit-transform: rotate(-7deg);
            transform: rotate(-7deg);
  }
  75% {
    -webkit-transform: rotate(3deg);
            transform: rotate(3deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@-webkit-keyframes candle-5 {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
@keyframes candle-5 {
  0%, 50%, 100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }
  75% {
    -webkit-transform: rotate(1deg);
            transform: rotate(1deg);
  }
}
